/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css. */

:root {
  --vp-c-blue: #45b6f2;
  --vp-c-purple: #c084fc;
  --vp-c-brand: var(--vp-c-purple);
  --vp-font-family-base: Fira Sans;
  --vp-font-family-mono: Fira Code;
}

.notebook {
  border: 0;
  display: block;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
